---
interface Props {
  title: string;
  isHomePage?: boolean;
  description?: string;
}

import '@/styles/globals.css';
import { ViewTransitions } from 'astro:transitions';
import { Toaster } from '@/components/ui/sonner';
import Navbar from '@/components/Navbar/Navbar.astro';

import Footer from '@/components/Footer/Footer.astro';
import { getLangFromUrl } from '@/i18n/utils';

const { title, isHomePage = false, description } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={Astro.url.href.replace(`/${lang}/`, '/')} />

    <!-- Open Graph / Facebook   -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" property="og:image:secure_url" content="/src/assets/logo.png" />
    <meta property="og:image:alt" content={description} />
    <meta property="og:url" content={Astro.url.href} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content="/logo.png" />
    <meta property="twitter:image:alt" content={description} />
    <meta property="twitter:url" content={Astro.url.href} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Navbar />
    <main class:list={['min-h-screen pb-32', { 'pt-20': !isHomePage }]}>
      <slot />
    </main>
    <Footer />
    <Toaster client:load />
  </body>
</html>
